
/* .container{overflow: hidden} */
/* .tab-2{margin-left: 50px} */
/* .tab-2 input{display: block;margin-bottom: 10px} */

table {
  width: 100%;
}

td {
  text-align: center;
}

/* .config-modbus{float: left;} */
tr{transition:all .25s ease-in-out}
tr:hover{background-color:#EEE;cursor: pointer}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}